@model CreateAnswerViewModel

@{
    ViewData["Title"] = "Добавление ответа";
    ViewData["ActivePage"] = "AddAnswer";
}

<div class="page-header">
    <h1>Добавление ответа</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_AnswersNav.cshtml", new AnswerNavViewModel
        {
            TestId = ViewBag.TestId,
            QuestionId = ViewBag.QuestionId
        })
    </div>
    <div class="col-md-9">
        <div class="row">
            <form asp-action="AddAnswer" asp-controller="Tests" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label">Контент</label>
                    <textarea asp-for="Content" style="width: 500px" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsCorrect" class="control-label">Правильный?</label>
                    <input type="checkbox" asp-for="IsCorrect" />
                    <span asp-validation-for="IsCorrect" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>