@model ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    ViewData["ActivePage"] = "ChangePassword";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Users" asp-action="Index">Пользователи</a></li>
        <li class="breadcrumb-item active" aria-current="page">Изменение пароля</li>
    </ol>
</nav>

<div class="page-header">
    <h1>Изменение пароля (@Model.Email)</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_UsersNav", "Изменение пароля")
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="ChangePassword" asp-controller="Users">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="Email"/>

                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                        <input type="text" asp-for="NewPassword" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
