@model IEnumerable<EducationPortal.Web.Data.Entities.EducationMaterial>

<ul class="nav nav-pills flex-column" style="margin-left: 20px;">
    @foreach (var educationMaterial in Model)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Courses" asp-action="EducationMaterial" asp-route-id="@educationMaterial.Id">@educationMaterial.Name</a>
        </li>
    }
</ul>
<br />
