@model QuestionNavViewModel

<ul class="nav nav-pills flex-column">
    @if (User.IsInRole("admin") || User.IsInRole("tutor"))
    {
        <li class="nav-item">
            <a class="nav-link @NavPages.PageNavClass(ViewContext, "AddQuestion")" asp-controller="Tests" asp-action="AddQuestion" asp-route-id="@Model.TestId">Добавление вопроса</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link" asp-controller="Tests" asp-action="Info" asp-route-id="@Model.TestId">Вопросы</a>
    </li>
</ul>
<br />
