@model IEnumerable<EducationPortal.Web.Data.Entities.Test>

<ul class="nav nav-pills flex-column" style="margin-left: 20px;">
    @foreach (var test in Model)
    {
    <li class="nav-item">
        <a class="nav-link @NavPages.PageNavClass(ViewContext, test.Id.ToString())" asp-controller="Tests" asp-action="Details" asp-route-id="@test.Id">Тест @test.Name</a>
    </li>
    }
</ul>
<br />
