@model IEnumerable<EducationPortal.Web.Data.Entities.Course>

<ul class="nav nav-pills flex-column">
    @if (User.IsInRole("admin"))
    {
        <li class="nav-item">
            <a class="nav-link @NavPages.PageNavClass(ViewContext, "Create")" asp-controller="Courses" asp-action="Create">Добавление курса</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link" asp-controller="Courses" asp-action="Index">Учебные курсы</a>
    </li>

    @foreach (var course in Model)
    {
        <li class="nav-item">
            <a class="nav-link @NavPages.PageNavClass(ViewContext, course.Id.ToString())" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Курс @course.Name</a>
        </li>
    }
</ul>
<br/>
