@model TestNavViewModel

<ul class="nav nav-pills flex-column">
    @if (User.IsInRole("admin"))
    {
    <li class="nav-item">
        <a class="nav-link @NavPages.PageNavClass(ViewContext, "AddTest")" asp-controller="Courses" asp-action="AddTest">Добавление теста</a>
    </li>
    }

    <li class="nav-item">
        <a class="nav-link" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId" asp-route-moduleId="@Model.ModuleId">Тесты</a>
    </li>
</ul>
<br />
