@using EducationPortal.Web.Data.Entities
@model IEnumerable<Course>

@{
    ViewData["Title"] = "Курсы";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Курсы</li>
    </ol>
</nav>

<div class="page-header">
    <h1>Учебные курсы</h1>
    <hr />
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Учебные часы</th>
            <th scope="col">Сложность</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
        <tr scope="row">
            <td>@course.Name</td>
            <td>@course.TrainingHours</td>
            <td class="course-complexity">
                <img src="~/icons/@course.ComplexityIconName" height="30px" />
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Открыть</a>
            </td>
        </tr>
        }
    </tbody>
</table>