@using EducationPortal.Web.Data.Entities
@model IEnumerable<Course>

@{
    ViewData["Title"] = "Курсы";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Курсы</li>
    </ol>
</nav>

<div class="page-header">
    <h1>Учебные курсы</h1>
    <hr />
</div>

@if (User.IsInRole("admin") || User.IsInRole("tutor"))
{
    <a asp-action="Create" class="btn btn-primary" style="margin-bottom: 20px;">Добавить курс</a>
}

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Учебные часы</th>
            <th scope="col">Сложность</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
        <tr scope="row">
            <td>@course.Name</td>
            <td>@course.TrainingHours</td>
            <td class="course-complexity">
                <img src="~/icons/@course.ComplexityIconName" height="30px" />
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@course.Id" method="post">
                <a class="btn btn-sm btn-outline-primary" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Открыть</a>

                @if(User.IsInRole("admin") || User.IsInRole("tutor")) 
                {
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </button>
                }
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>