@using EducationPortal.Web.Data.Entities
@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses";
}

<div class="page-header">
    <h1>Учебные курсы</h1>
    <br />
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Имя курса</th>
            <th scope="col">Кол-во уч. часов</th>
            <th scope="col">Сложность курса</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
        <tr scope="row">
            <td>@course.Name</td>
            <td>@course.TrainingHours</td>
            <td class="course-complexity">
                <img src="~/icons/@course.ComplexityIconName" height="30px" />
            </td>
            <td>
                <a class="btn btn-default" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Открыть</a>
            </td>
        </tr>
        }
    </tbody>
</table>